################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Bqpl.MicroKernel/obj/Debug
/Bqpl.MicroKernel/bin/Debug
/Bqpl.MicroKernel.Test/bin/Debug
/Bqpl.MicroKernel.Test/obj/Debug
/Bqpl.MicroKernel.Test/project.lock.json
/Bqpl.MicroKernel/project.lock.json
