################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Bqpl.MicroKernel/obj/Debug
/Bqpl.MicroKernel/bin/Debug
